[tool.black]
line-length = 120
target-version = ['py38']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | codesearchnet_python_1pct
  | codesearchnet_python_1pct_clean
  | codesearchnet_python_1pct_filtered
  | lora_qwen2_5_coder_1_5b_python
)/
'''

[tool.isort]
profile = "black"
line_length = 120
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.flake8]
max-line-length = 120
extend-ignore = ["E203", "W503"]
exclude = [
    ".git",
    "__pycache__",
    ".venv",
    "venv",
    "codesearchnet_python_1pct",
    "codesearchnet_python_1pct_clean", 
    "codesearchnet_python_1pct_filtered",
    "lora_qwen2_5_coder_1_5b_python"
]